@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.areas a:any-link{
    text-decoration: none;
    color: #272727;
}
nav{
    background-image: linear-gradient(to right, rgb(0, 0, 0) 55%, rgb(254, 106, 148), rgb(69, 98, 177));
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: white;
    color: black;
}
footer{
    width: 100%;
    height: 170px;
    background: black;
    position: sticky;
    display: grid;
    grid-template: auto auto auto;
}
.banner{
    height: 150vh;
    background-image: linear-gradient(145deg, rgb(255, 255, 255) 80%, rgb(255, 142, 170), rgb(69, 98, 177));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
#build{
    margin-top: 50px;
    width: 300px;
}
.texto .titulo{
    color: #272727;
    font-size: 60px;
    font-weight: 600;
}
.texto .sub_titulo{
    color: #272727;
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 50px;
}
.texto .botoes{
    margin-top: 30px;
}
.texto .botoes button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.texto .botoes button.n-overlay{
    color: white;
    background: none;
    border: 2px solid white;
}
.texto .botoes button.n-overlay:hover{
    color: black;
    background-color: white;
}
.texto .botoes button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}
.areas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.infobox{
    width: 250px;
    height: 310px;
    border-style: solid;
    border-radius: 8px;
    border-color: #272727;
    margin: 50px;
}
.infobox h3{
    margin-top: 30px;
}
.infobox p{
    text-align: justify;
    padding: 25px;
}
.infobox:hover{
    animation: vibrar 0.5s ease-in-out infinite both;
}
.newsletter{
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #272727;
}
.newsletter h1 {
    color: #fff;
}
.textput{
    border-radius: 5px;
    border-style: none;
    margin-right: 30px;
    height: 40px;
}
.subput{
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 100px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(255, 142, 170), rgb(69, 98, 177));
    cursor: pointer;
}
.contats{
    grid-column: 1;
}
.ftitle{
    color: #fff;
    margin-top: 30px;
    margin-left: 105px;
}
.conlist{
    color: #fff;
    margin-left: 105px;
}
.leleco{
    width: 700px;
    height: 700px;
    background-color: #272727;
    z-index: 999;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}